@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
:root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background-color: #181818;
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #2c2c2c;
  border-radius: 8px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100vh #181818 inset;
  -webkit-text-fill-color: #fff !important;
}

@layer components {
  .bg-dark-0 {
    background-color: #2a2a2a;
  }
  .bg-dark-1 {
    background-color: #181818;
  }
  .bg-dark-2 {
    background-color: #121212;
  },
  .bg-dark-3 {
    background-color: rgba(0 0 0 / 0.5);
  },
  .transform-1 {
    transform: scale(1.1);
  }
}